.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inpContainer {
  width: 66% !important;
}

.keyContainerClass {
  background-color: #333;
}

.keyboardKeyStyles {
  font-family: "comic sans ms";
}
